<div class=" w-fit h-fit px-4 py-3 flex items-center text-white border-0 rounded relative bg-yellow-500">
  <span class="inline-block align-middle mr-8">
    <b class="capitalize"><%= notice %></b>
  </span>
  <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 mr-4 outline-none focus:outline-none" onclick="closeAlert(event)">
    <span>×</span>
  </button>
</div>
<script>
  function closeAlert(event){
    let element = event.target;
    while(element.nodeName !== "BUTTON"){
      element = element.parentNode;
    }
    element.parentNode.parentNode.removeChild(element.parentNode);
  }
</script>